%h1 Users

- if @users.count > 0
  %h3= "#{@users.count} users found:" 
  %table.table
    %tr
      %th Restricted
      %th Email
      %th Admin
    - @users.each do |user|
      %tr
        %td= check_box_tag "user_#{user.id}_restricted", 1, user.restricted?, class: 'restricted', data: { user_id: user.id, url: users_path, method: 'PATCH' }
        %td= user.email
        %td= check_box_tag "user_#{user.id}_admin", 1, user.admin?, class: 'admin', data: { user_id: user.id, url: users_path, method: 'PATCH' }
  = will_paginate @users
- else
  %p No users! 
  = link_to 'Invite admin', new_book_path

