= form_for @book, :html => {:multipart => true} do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Book
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :isbn_10
      = f.text_field :isbn_10
    .field
      = f.label :isbn_13
      = f.text_field :isbn_13
  %fieldset
    = f.fields_for :author do |author_form|
      = render 'authors/author_fields', :f => author_form
    .field
      = f.label :cover
      = f.file_field :cover
  %fieldset
    %legend Review
    = f.fields_for :reviews do |review_form|
      = render 'reviews/review_fields', :f => review_form
  %fieldset
    %legend Rating
    - if @book.active
      = render 'shared/book_user_rating', :book => @book
    - else
      = render 'shared/book_user_rated', :book => @book, :user => current_user, :score => @book.user_rating(current_user)
  %fieldset
    %legend Follow
    = f.fields_for :follows do |follows_form|
      = render 'follows/follows_fields', :f => follows_form

    
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
