= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Book
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :isbn_10
      = f.text_field :isbn_10
    .field
      = f.label :isbn_13
      = f.text_field :isbn_13
    .field
      = f.label :author_last
      = f.text_field :author_last
    .field
      = f.label :author_first
      = f.text_field :author_first
  %fieldset
    %legend Review
    = f.fields_for :reviews do |review_form|
      = render 'reviews/review_fields', :f => review_form
  %fieldset
    %legend Rating
    .new_star
    
  .actions
    = f.submit 'Save'
