%h1 Books
%h2= current_user.id if current_user.present?
%table
  %tr
    %th ISBN-10
    %th ISBN-13
    %th Title
    %th Author
    %th Rating
    - if current_user.present?
      %th My Rating
  - @books.each do |book|
    %tr
      %td= book.isbn_10
      %td= book.isbn_13
      %td= book.title
      %td= author_last_first(book)
      %td
        = render 'shared/book_rating', :book => book
      - if current_user.present?
        %td
          = render 'shared/book_user_rating', :book => book, :user => current_user
