%h1 Books

- if @books.count > 0
  %h2= "#{pluralize(@books.count, 'book')} found" 
  %h2
    %small= @user.email if @user
  %table.table
    %tr
      %th 
        %i.icon-ok
      - if current_user
        %th 
          %i.icon-eye-open
      %th
      %th= sortable 'isbn_10'
      %th= sortable 'isbn_13'
      %th= sortable 'title'
      %th Author
      %th= sortable 'saved_rating', 'Rating'
      - if current_user.present?
        %th My Rating
        %th{colspan: 2} Status
    - @books.each do |book|
      %tr
        - if current_user.try(:admin?) && book.approvable?
          %td= check_box_tag "book_#{book.id}_approved", 1, book.approved?, class: 'approved', data: { book_id: book.id, url: books_path, method: 'PATCH' }
        - else
          %td= check_box_tag "book_#{book.id}_approved", 1, book.approved?, disabled: true
        - if current_user
          %td= check_box_tag "book_#{book.id}_followed", 1, book.followed_by_user?(current_user), class: 'followed', data: { book_id: book.id, user_id: current_user.id, url: follows_path, method: 'POST' }
        %td
          = link_to book_path book do
            = image_tag book.cover_url(:thumb).to_s
        %td= book.isbn_10
        %td= book.isbn_13
        %td= book.title
        %td= author_last_first(book.author)
        %td
          = render 'shared/book_rating', :book => book
        - if current_user.present?
          %td
            = render 'shared/book_user_rating', :book => book, :user => current_user
          %td
            = link_to 'Edit', edit_book_path(book) if book.user == current_user
          %td
            - if book.active? && book.user == current_user
              = link_to delete_text(book), book, :method => :delete, :id => "destroy_#{book.id}", :data => { :confirm => 'Are you sure?' }
            - else
              = book_status(book)
        - else
          &nbsp;
  = will_paginate @books
- else
  %p No books! 
  = link_to 'Add a book', new_book_path

