%h1
  =@book.title
  %small
    =link_to 'Edit', edit_book_path(@book), :class => :small if @book.user == current_user
    - if @book.active? && @book.user == current_user
      = link_to delete_text(@book), @book, :method => :delete, :id => "destroy_#{@book.id}", :data => { :confirm => 'Are you sure?' }
    - else
      = book_status(@book)

%h4= author_last_first(@book.author)

.row-fluid
  .span9
    .span5
      = image_tag @book.cover_url(:medium).to_s
    .span4
      %following 
        - if current_user && @book.followed_by_user?(current_user)
          %h5 You are following this book.
          = render 'follows/form', :follow => @follow
        - else
          %h5 Follow this book
          = render 'follows/form_new', :book => @book

%table.table.table-nonfluid
  %tr
    %th ISBN-10
    %td= @book.isbn_10
  %tr
    %th ISBN-13
    %td= @book.isbn_13
  %tr
    %th Average rating
    %td= render 'shared/book_rating', :book => @book
  - if current_user.present?
    %th My Rating
    %td= render 'shared/book_user_rating', :book => @book, :user => current_user
- if current_user && @book.user_review(current_user).blank?
  %h4 Add a review:
  = render 'reviews/add', :book => @book

- if @reviews.any?
  %h4 Reviews
  %table.table.table-nonfluid
    %tr
      %th Rating
      %th Member
    - @reviews.each do |review|
      %tr
        %td= render 'shared/book_user_rated', :book => @book, :user => review.user, :score => @book.user_rating(review.user)
        %td= review.user.email
      %tr
        %td{:colspan => 2}
          = render 'reviews/show_or_edit', :review => review, :book => @book
  = will_paginate @reviews

