%p#notice= notice

%h1= @book.title
%h4= author_last_first(@book)

= image_tag @book.cover_url.to_s

%table.table
  %tr
    %th ISBN-10
    %td= @book.isbn_10
  %tr
    %th ISBN-13
    %td= @book.isbn_13
  %tr
    %th Average rating
    %td= render 'shared/book_rating', :book => @book
  - if current_user.present?
    %th My Rating
    %td= render 'shared/book_user_rating', :book => @book, :user => current_user

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
